.signUp-info {
  grid-area: whySign;
  text-align: center;
  padding: 1rem;
  margin: 80px 40px 0px 0px;

  span {
    font-weight: bold;
    font-size: 25px;
    word-spacing: 0.2;
  }
}

.form-wrapper {
  display: grid;
  padding: 2rem;
  align-items: center;
  grid-column: 3/4;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "signup signup "
    "label input1"
    "label1 input2"
    "label2  input3";

  & h1 {
    grid-area: signup;
    text-align: center;
    margin-bottom: 30px;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    margin: 20px;
    height: 25px;
    font-size: 15px;
    color: black;
  }

  input:focus {
    outline: none;
  }

  .name-label {
    grid-area: label;
    grid-column: 1/2;
  }

  .name-input {
    grid-column: 2/4;
    width: 600px;
  }

  .number-label {
    grid-area: label1;
  }

  .number-input {
    grid-area: input2;
    width: 600px;
  }

  .email-label {
    grid-area: label2;
  }

  .email-input {
    grid-area: input3;
    width: 600px;
  }
}
