/*imports */
@import "_form";

/* website image variables*/
$banner-img: "https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  grid-template-areas:
    "header header header"
    "tab . about"
    "nested nested nested"
    "whySign whySign form "
    "tailor tailor tailor"
    "footer footer footer";
}

header {
  grid-area: header;
  grid-column: 1/4;
  height: 40vh;
  background: {
    image: url($banner-img);
    size: cover;
    attachment: fixed;
    position: 0px -190px;
    repeat: no-repeat;
  }
}

.tab {
  grid-area: tab;
}
.about {
  grid-area: about;
  padding: 2rem;

  & > h1 {
    text-align: center;
    font-size: 50px;
  }

  & p {
    text-align: justify;

    span {
      font-weight: bold;
    }
  }
}

.nested {
  grid-area: nested;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;

  img {
    height: auto;
    width: 300px;
  }
}

/* icons*/
.socials {
  display: flex;
  flex-direction: column;

  ul {
    list-style-type: none;

    & li {
      width: 50px;
      background: black;
      border: 1px solid white;
      padding: 0.8rem;
      transition: all 0.2s ease-in-out;

      .fa {
        color: white;
        font-size: 20px;
        text-align: center;
      }
    }

    & li:hover {
      width: 200px;
      background: black;
      transform: scale(1);

      .fa-facebook::after {
        content: " Facebook ";
      }

      .fa-twitter::after {
        content: " Twitter ";
      }

      .fa-youtube::after {
        content: " Youtube ";
      }

      .fa-linkedin::after {
        content: " LinkedIn ";
      }

      .fa-google-plus::after {
        content: " Google Plus ";
      }
    }
  }
}

.tailor {
  grid-area: tailor;
  height: 30vh;
  background: {
    image: url(https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    size: cover;
    position: center;
    repeat: no-repeat;
  }
}

footer {
  grid-area: footer;
  background: black;

  ul.footer-list {
    display: flex;
    height: 90px;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    li a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 65rem) {
  #content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "about"
      "nested "
      "nested"
      "whySign"
      "form"
      "tailor"
      "footer";
  }

  header {
    height: 400px;
    background-position: -150px -190px;
  }

  .about {
    & p {
      margin-top: 40px;
      font-size: 18px;
    }
  }

  .socials {
    display: none;
  }

  .nested {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  .signUp-info {
    font-size: 20px;
  }
  .form-wrapper {
    grid-area: form;
    grid-template-columns: 1fr;
    grid-template-areas:
      "signup"
      "label"
      "input1"
      "label1"
      "input2"
      "label2"
      "input3";

    input {
      float: right;
    }
  }
}

@media (max-width: 42rem) {
  header {
    height: 310px;
    background-position: 0px -140px;
  }
}
