/*imports */
.signUp-info {
  grid-area: whySign;
  text-align: center;
  padding: 1rem;
  margin: 80px 40px 0px 0px; }
  .signUp-info span {
    font-weight: bold;
    font-size: 25px;
    word-spacing: 0.2; }

.form-wrapper {
  display: grid;
  padding: 2rem;
  align-items: center;
  grid-column: 3/4;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "signup signup " "label input1" "label1 input2" "label2  input3"; }
  .form-wrapper h1 {
    grid-area: signup;
    text-align: center;
    margin-bottom: 30px; }
  .form-wrapper input {
    border: none;
    border-bottom: 1px solid black;
    margin: 20px;
    height: 25px;
    font-size: 15px;
    color: black; }
  .form-wrapper input:focus {
    outline: none; }
  .form-wrapper .name-label {
    grid-area: label;
    grid-column: 1/2; }
  .form-wrapper .name-input {
    grid-column: 2/4;
    width: 600px; }
  .form-wrapper .number-label {
    grid-area: label1; }
  .form-wrapper .number-input {
    grid-area: input2;
    width: 600px; }
  .form-wrapper .email-label {
    grid-area: label2; }
  .form-wrapper .email-input {
    grid-area: input3;
    width: 600px; }

/* website image variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#content {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 10px;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  grid-template-areas: "header header header" "tab . about" "nested nested nested" "whySign whySign form " "tailor tailor tailor" "footer footer footer"; }

header {
  grid-area: header;
  grid-column: 1/4;
  height: 40vh;
  background-image: url("https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -190px;
  background-repeat: no-repeat; }

.tab {
  grid-area: tab; }

.about {
  grid-area: about;
  padding: 2rem; }
  .about > h1 {
    text-align: center;
    font-size: 50px; }
  .about p {
    text-align: justify; }
    .about p span {
      font-weight: bold; }

.nested {
  grid-area: nested;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; }
  .nested img {
    height: auto;
    width: 300px; }

/* icons*/
.socials {
  display: flex;
  flex-direction: column; }
  .socials ul {
    list-style-type: none; }
    .socials ul li {
      width: 50px;
      background: black;
      border: 1px solid white;
      padding: 0.8rem;
      transition: all 0.2s ease-in-out; }
      .socials ul li .fa {
        color: white;
        font-size: 20px;
        text-align: center; }
    .socials ul li:hover {
      width: 200px;
      background: black;
      transform: scale(1); }
      .socials ul li:hover .fa-facebook::after {
        content: " Facebook "; }
      .socials ul li:hover .fa-twitter::after {
        content: " Twitter "; }
      .socials ul li:hover .fa-youtube::after {
        content: " Youtube "; }
      .socials ul li:hover .fa-linkedin::after {
        content: " LinkedIn "; }
      .socials ul li:hover .fa-google-plus::after {
        content: " Google Plus "; }

.tailor {
  grid-area: tailor;
  height: 30vh;
  background-image: url(https://images.unsplash.com/photo-1534961880437-ce5ae2033053?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

footer {
  grid-area: footer;
  background: black; }
  footer ul.footer-list {
    display: flex;
    height: 90px;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; }
    footer ul.footer-list li a {
      color: white;
      text-decoration: none;
      cursor: pointer; }

@media (max-width: 65rem) {
  #content {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "about" "nested " "nested" "whySign" "form" "tailor" "footer"; }

  header {
    height: 400px;
    background-position: -150px -190px; }

  .about p {
    margin-top: 40px;
    font-size: 18px; }

  .socials {
    display: none; }

  .nested {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto; }

  .signUp-info {
    font-size: 20px; }

  .form-wrapper {
    grid-area: form;
    grid-template-columns: 1fr;
    grid-template-areas: "signup" "label" "input1" "label1" "input2" "label2" "input3"; }
    .form-wrapper input {
      float: right; } }
@media (max-width: 42rem) {
  header {
    height: 310px;
    background-position: 0px -140px; } }

/*# sourceMappingURL=master.css.map */
